*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
img {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 1.5rem;
}
.main_card_container {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.card_image {
  min-width: 35rem;
  min-width: 50rem;
  height: 30rem;
  transform: translate(-8rem);
  position: relative;
}
.card_image img {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
  display: block;
}
.card_image::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right, rgba(79, 172, 254, 0.8),
    rgba(0, 242, 254, 0.8)
  );
  border-radius: 0.8rem;
}
.card_info_data span{
    display: block;
    color: rgba(0,0,0, .5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}
.cardTitle{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}
.card_text{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0,0,0,.7);
}