body{
    /* background-color: blueviolet; */
    background-image: url("./image/01_cars3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;






    color: white;
}