*{
    margin: 0;
}
.box{
    background-color: skyblue;
    /* margin: 20px; */
    /* margin-top: 20px; */
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
    /* margin-left: 20px; */
    /* margin: 20px 30px 50px 40px; */
    margin: 50px 30px;
}