body {
  background-image: url("./abc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
/* .container {
  display: flex;
  gap: 1rem;
} */

.box {
  height: 200px;
  /* width: 900px; */
  /* background-color: aqua; */
  border: 5px solid rgb(255, 255, 255);
  /* border-radius: 50%; */
}

/* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
/* .box1{
    background-color: yellow;
    background-image: linear-gradient(yellow, violet);
} */

/* .box2{
    background-color: violet;
    background-image: linear-gradient(to right, red, blue);
} */
/* .box3{
    background-image: linear-gradient(360  deg, red, blue);
} */
/* background-image: repeating-linear-gradient(red, yellow 10%, green 20%); */
/* .box4{
    background-image: repeating-linear-gradient( red 10%, yellow 20%, green 30%);
}
.box5{
    background-image: linear-gradient();
} */

/* background-image: radial-gradient(shape size at position, start-color, ..., last-color); */
/* .box1 {
  background-image: radial-gradient(red, blue, green);
} */
/* .box2 {
  background-image: radial-gradient(circle, red 10%, blue 20%, green);
}
.box3 {
  background-image: radial-gradient(circle at top, red 10%, blue 20%, green);
}
.box4 {
  background-image: radial-gradient(circle at left, red 10%, blue 20%, green);
}
.box5 {
  background-image: radial-gradient(circle at 10% 20%, red 10%, blue 20%, green);
}



.box1{
    background-image: radial-gradient(farthest-side, red, blue);
} */


.box1{
    background-image: conic-gradient(red 45deg, blue 90deg);
}
.box2 {
    background-image: conic-gradient( at 60% 20%, yellow, red);
}