*{
    margin: 0;
    padding: 0;
}

/* table{ */
    /* margin: 20px auto;
    empty-cells: hide; */
    /* border-collapse: collapse; */
    /* border-spacing: 5px 20px ; */
/* } */

/* table, td, th{
    border: 1px solid blue;
}
td{
    vertical-align: middle;
}
th, td{
    padding: 5px 20px;
}
caption{
    caption-side: bottom;
}

table{
    width: 200px;
    table-layout: fixed;
} */

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 20px auto;
}
table, th, td{
    border: 1px solid black;
}
th, td{
    padding: 10px;
}
th{
    color: white;
    background-color: violet;
}
tr:hover{
    background-color: gray;
}

tr:nth-child(even){
    background-color: rgba(0, 128, 0, 0.574);
}